<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>OS OpenData Boundary-Line demo</title>
    <link href="/static/css.css" rel="stylesheet" type="text/css">
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
    <script src="/static/js.js"></script>
</head>
<body onload="{% block init %}{% endblock %}">

<div id="header" role="banner">
    <h1>OS OpenData Boundary-Line</h1>
    <span>Boundary-Line shapes on OSM maps, by Matthew Somerville &ndash; <a href="http://github.com/dracos/opendata-boundaryline">source code</a></span>
</div>

<div id="main" role="main">

<div id="map_wrapper"><div id="map"></div></div>

{% block content %}
{% endblock %}

</div>

<div id="footer" role="navigation">
    <p>This site uses Ordnance Survey data © Crown copyright and database
    right 2010. Data may be used under the terms of the
    <a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/">OS OpenData</a>
    licence. The map data is CC-By-SA by <a href="http://openstreetmap.org/">OpenStreetMap</a>.</p>
</div>

</body>
</html>
